**/node_modules
**/out
dist
chat/

.vscode-test/
*.vsix
**.DS_Store
binaries/*
!binaries/downloadBinaries.sh

registration_key
auth
sig


.idea/
*.iml

**/assistant-cache
**/assistant-binaries
package.json.back
package.json.onprem
clean.sh
.vscode/launch.json