dl_binaries.sh
**/*.ts
**/*.js.map
*.vsix
**/tsconfig.json
.gitignore
.github/*
.vscode/*
node_modules/**/*.md
**/*.test.*
**/*.spec.*
assets/**
**/test/**
.idea/
binaries

.vscode
.github
node_modules
src/
tsconfig.json
webpack.config.js