name: Continues Integration

on: [push]

jobs:
  buildAndLint:
    name: Build & Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v1
          with:
            node-version: ${{ matrix.node-version }}
        - name: Install
          run: npm ci --no-optional
        - name: Prettier validate
          run: npm run prettier:check
        - name: Lint
          run: npm run lint
        - name: Package
          run: npm run vsce:package

  test:
    name: Test
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Use Node.js 12.x
          uses: actions/setup-node@v1
          with:
            node-version: 12.x
        - name: Install
          run: npm ci --no-optional
        - run: xvfb-run -a npm test
          if: runner.os == 'Linux'
        - run: npm test
          if: runner.os != 'Linux'
      