name: Validate Marketplace

on:
  release:
    types: [released]
  
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: jakejarvis/wait-action@master
      with:
        time: '5m'
    - uses: actions/checkout@v2
    - uses: codota/visual-regression@master
      with:
        url: https://marketplace.visualstudio.com/items?itemName=TabNine.tabnine-vscode
        screenshotFilename: marketplace-screenshot
        slackWebhook: ${{ secrets.SLACK_VALIDATE_MARKETPLACE_WEBHOOK }}
        githubToken: ${{ secrets.GITHUB_TOKEN }}